<ion-view class="slider-view">
  <ion-nav-title>
    <span>About Us</span>
  </ion-nav-title>
  <ion-content>
      <div class="text-center">
        <a href="#/"><img src="large.png"></a>
      </div>
      <div class="item item-text-wrap aboutusContentCls">
        <p>Aesthetic Today is your ultimate hub for beauty shopping online. As a premium beauty deals website, we offer our members the chance to pick from an array of selected aesthetic services from the best clinics and specialists at extraordinary preferential prices.</p><br>
        <p>We are not just "another deals website." We understand what you desire and have therefore partnered with beauty and aesthetic experts to create a unique and exclusive online shopping club experience in the Middle East.</p><br>
        <p>Save time, money and treat yourself to a wide-range of unbeatable deals!</p>
      </div>
      <div class="list card">

        <div class="item item-text-wrap">
          <i class="icon ion-ios-location iconSizeCls"></i>
           Downtown Burj Khalifa, Dubai, UAE. P.O. Box 21409
        </div>

        <div class="item item-text-wrap">
          <i class="icon ion-ios-email iconSizeCls"></i>
          admin@aesthetictoday.com
        </div>

        <div class="item item-text-wrap">
          <i class="icon ion-ios-telephone iconSizeCls"></i>
          +971 4 4356756
        </div>

      </div>
  </ion-content>
</ion-view>
